/**
 * Page content
 */
.main-content {
    padding: $spacing-unit 0;
    flex: 1 0 auto;
}

.page-content {
    display: inline-block;
    vertical-align: top;
    margin-bottom: $spacing-unit / 2;
}

.page-sidebar {
    width:  calc(#{$sidebar_width} - #{$spacing-unit});
    padding-left: calc(#{$spacing-unit});

    display: inline-block;
    vertical-align: top;
    margin-bottom: $spacing-unit / 2;
}

.page-heading {
    @include relative-font-size(2);
}

.post-list-heading {
    @include relative-font-size(1.75);
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    @include relative-font-size(1.5);
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
    @include relative-font-size(2.625);
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        @include relative-font-size(2.25);
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        @include relative-font-size(2);

        @include media-query($on-laptop) {
            @include relative-font-size(1.75);
        }
    }

    h3 {
        @include relative-font-size(1.625);

        @include media-query($on-laptop) {
            @include relative-font-size(1.375);
        }
    }

    h4 {
        @include relative-font-size(1.25);

        @include media-query($on-laptop) {
            @include relative-font-size(1.125);
        }
    }
}
