aside {
    color: $grey-color;
}

.profile_picture {
    max-width: $sidebar_width;
}

.icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.4em;

	.icon {
		display: inline-block;
		padding: 0 1em 0 0;
        a:hover {
            text-decoration: none;
        }
    }
}
