<footer class="page-footer">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <ul class="contact-list">
                    {%- if site.email -%}

                    {%- if site.author_full -%}
                    <li class="p-name">
                        {{ site.author_full | escape }}
                    </li>
                    {%- endif -%}

                    <li>
                        <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
                    </li>
                    {%- endif -%}
                </ul>
            </div>

            <div class="col-6">
                {%- if site.copyright_msg -%}
                    {{site.copyright_msg}}
                {%- else -%}
                    <p>Theme by <a href="https://novasys.di.fct.unl.pt/~gb">Guilherme Borges</a>
                    <br>
                    Based on <a href="https://github.com/jekyll/minima">minima</a></p>
                {%- endif -%}
            </div>
        </div>
    </div>
</footer>
