<ul class="icons">
    {% if site.twitter_username %}
        <li class="icon">
            <a href="https://twitter.com/{{ site.twitter_username }}" class="fa fa-twitter" title="Twitter"></a>
        </li>
    {% endif %}
    {% if site.github_username %}
        <li class="icon">
            <a href="https://github.com/{{ site.github_username }}" class="fa fa-github" title="GitHub"></a>
        </li>
    {% endif %}
    {% if site.gitlab_username %}
        <li class="icon">
            <a href="https://gitlab.com/{{ site.gitlab_username }}" class="fa fa-gitlab" title="GitLab"></a>
        </li>
    {% endif %}
    {% if site.scholar_username %}
        <li class="icon">
            <a href="https://scholar.google.pt/citations?user={{ site.scholar_username }}" class="fa fa-graduation-cap" title="Google Scholar"></a>
        </li>
    {% endif %}
</ul>
