<aside class="page-sidebar">
    {% if site.profile_picture %}
        <p><img src="{{site.profile_picture}}" class="profile_picture"/></p>
    {% endif %}

    <p>{{site.author_full}}</p>
    <p>{{site.address}}</p>
    <p>
        <i class="fa fa-envelope"></i>
        <a href="mailto:{{site.email}}">{{site.email}}</a>
    </p>
    {% include icons.html %}
</aside>
